@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&family=Lexend:wght@100..900&family=Mulish:wght@500&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

body {
  margin: 0;
  padding: 0;
  background-color: rgba(255, 190, 224, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "League Spartan", sans-serif;
}

.container {
  text-align: center;
}

.dog-img {
  width: 300px;
  max-width: 80%;
}

h1 {
  font-size: 3rem;
  color: #333;
  margin-top: 20px;
}

.cta-btn {
  display: inline-block;
  margin-top: 20px;
  padding: 12px 24px;
  background-color: #ff82ac;
  color: white;
  text-decoration: none;
  border-radius: 30px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  transition: background-color 0.3s;
}

.cta-btn:hover {
  background-color: #ff5c98;
}
